<section class="section-availa" >
    <div class="scroll-section">
        <div class="availa-content">
            <div class="room-content">
                @if (loadingCard) { 
                    <app-loading-card [numberCards]="2"></app-loading-card>
                }@else {
                    @for (room of dataRoom; track $index) {
                        <app-room-card class="w-full room-card-margin" [dataRoom]="room"></app-room-card>
                    }
                }
            </div>
        </div>
        
    
        <app-reservation-form [dataRoom]="dataRoom"></app-reservation-form>
    </div>
    
</section>