<button class="button-container font-text-16" [disabled]="!valid"
        [ngClass]="{
           'size-large': size == 'large',
           'size-medium': size == 'medium',
           'size-small': size == 'small',
           'type-flat bg-turquoise-500 text-white-beach-50': type == 'flat' && valid,
           'type-outline text-turquoise-600': type == 'outline' && valid,
           'type-flat-disable': type == 'flat' && !valid,
           'type-outline-disable': type == 'outline' && !valid,
        }" 
        (click)="clickButton()">
        <div class="icon-name-content">
            @if (icon) {
               <app-icon class="w-h-24" [name]="icon" [solid]="!valid"></app-icon>
            }
            {{name}}
        </div>
</button>
