<form class="example-form" [formGroup]="control">
    <mat-form-field class="example-full-width" [ngClass]="{'mat-form-field-invalid': control.hasError('invalidRange')}">
        <mat-label class="text-white-beach-500 font-text-16">{{label}}</mat-label>
        <mat-date-range-input  [rangePicker]="picker" [min]="minDate" [max]="maxDate" [dateFilter]="dateFilter">
          <input class="input" matStartDate formControlName="start" placeholder="Fecha de inicio">
          <input class="input" matEndDate formControlName="end" placeholder="Fecha de finalización">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        @if (getInvalidRange()) {
            <mat-error>La estancia debe ser exactamente de 3 días.</mat-error>
        }
        
        @if (control.controls['start'].hasError('required') || control.controls['end'].hasError('required')) {
            <mat-error>Seleccione un rango</mat-error>
        }
    </mat-form-field>
</form>
