<section class="section-container">
    <div class="flex-center cicular-first">
    
        <div class="flex-center cicular-second">
            <div class="text-button">
                <h1 class="gradient-text font-text-title-init">Reserva tu estadía en el último hotel de Cancún</h1>

                <div class="content-button">
                    <app-button [name]="'Ver disponibilidad'" 
                                (clickEvent)="goAvailability()"></app-button>
                </div>
            </div>
    
        </div>
    </div>

</section>
