<section class="my-reserv-section">
    @if (existingGuest) {
        <div class="user-reservation">
            <app-user-description [user]="reservation.user"></app-user-description>

            <app-table [data]="data" [displayedColumns]="displayedColumns" (actionsEvent)="optionEvent($event)"></app-table>
        </div>
    }@else {
        <div [ngTemplateOutlet]="reservSearchFormTemplete"></div>
    }
</section>

<ng-template #reservSearchFormTemplete>
    <app-reservation-search-form (searchDocumentEvent)="searchDocument($event)"></app-reservation-search-form>
</ng-template>

<ng-template #reservEditTemplate>
    <app-reservation-edit-form [optionData]="optionData"></app-reservation-edit-form>
</ng-template>
