.reserv-search-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.reserv-search-section{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.reserv-search-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
}

@media (min-width: 300px) {
    .reserv-search-card{
        width: 22.813rem;
    }
}

@media (min-width: 1536px) {
    .reserv-search-card{
        width: 32.813rem;
    }
}

