<app-simple-card class="user-desp-card" [type]="'turquoise'" [content]="userTemplate"></app-simple-card>

<ng-template #userTemplate>
    <section class="full user-desc-section g-10">
        <h1 class="text-turquoise-700 font-text-18">HUÉSPED</h1>

        <div class="user-desc-section p-l-16 text-white-beach-500">
            <p class="font-text-16 leading-40">Documento: <span class="text-turquoise-950">{{user.document}}</span></p>
            <p class="font-text-16 leading-40">Nombre: <span class="text-turquoise-950">{{user.name}}</span></p>
            <p class="font-text-16 leading-40">Correo: <span class="text-turquoise-950">{{user.email}}</span></p>
            <p class="font-text-16 leading-40">Telefono: <span class="text-turquoise-950">{{user.phone}}</span></p>
        </div>
    </section>
</ng-template>
