.card-content{
    box-sizing: border-box;
}

.card-simple{
    border-radius: 1.25rem;
}

.card-turquoise{
    border-radius: 0.313rem;
    border-left: 0.313rem solid #038AB7 ;
}

.card-p-10{
    padding: 0.625rem;
}

.card-p-20{
    padding: 1.25rem;
}