/* You can add global styles to this file, and also import other style files */
.w-h-full{
    height: 100%;
}

.w-full{
    width: 100%;
}

.full{
    width: 100%;
    height: 100%;
}

.m-b-10{
    margin-bottom: 0.625rem;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.loading-text{
    top: 50% !important;
}

.gradient-text {
    background: radial-gradient(circle, #00B5E2 40%, #989898 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-text-title-init{
    font-size: 2.5rem;
    font-style: italic;
    margin: 0;
}

.font-text-12{
    font-size: 0.75rem;
    margin: 0;
}

.font-text-14{
    font-size: 0.875rem;
    margin: 0;
}

.font-text-16{
    font-size: 1rem;
    margin: 0;
}

.font-text-18{
    font-size:1.125rem;
    font-weight: 900;
    margin: 0;
}

.text-turquoise-700{
    color: #0a6f94;
}

.text-turquoise-600{
    color: #038ab7;
}

.text-turquoise-500{
    color: #00b5e2;
}

.text-turquoise-950{
    color: #063146;
}

.text-white-beach-50{
    color: #f4f4f4;
}

.text-white-beach-600{
    color: #656565;
}

.text-white-beach-500{
    color: #7c7c7c;
}

.text-white-beach-200{
    color: #dcdcdc;
}

.text-red-500{
    color: #ff2626 !important;
}

.bg-turquoise-50{
    background-color: #ebfdff;
}

.bg-turquoise-100{
    background-color: #cef8ff;
}

.bg-turquoise-200{
    background-color: #a2f0ff;
}

.bg-turquoise-500{
    background-color: #00b5e2;
}

.bg-white-beach-200{
    background-color: #dcdcdc;
}

.bg-white{
    background-color: white;
}

.shadow-lg{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.w-h-24{
    width: 1.5rem;
    height: 1.5rem;
}

.mat-mdc-dialog-surface {
    border-radius: 20px !important;
  }

::ng-deep{

    .mat-mdc-form-field-subscript-wrapper{
        position: absolute !important;

        height: 0.063rem !important;
    }

    .mat-mdc-text-field-wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mdc-line-ripple::before{
        border-bottom: 1px solid #000000;
        border-bottom-width: 1px !important;
    }

    .mdc-line-ripple::after {
        border-bottom-color: #0a6f94 !important;
    
    }

    .mat-mdc-form-field-error{
        height: 10px !important;
        display: flex !important; 
    }
}

// regular style toast
@import 'ngx-toastr/toastr';
